:root {
  --clr-primary: #2c4755;
  --clr-secondary: #10cab7;
  --clr-gray: #637988;
  --clr-light-gray: #e6e6e6;
  --clr-white: #fff;
}

/* Global Rules Start */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
main {
  position: relative;
  overflow-x: hidden;
}
section:not(.landing) {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
section:nth-child(odd) {
  background-color: #f6f6f6;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Global Rules End */

/* Components Start */
.special-heading {
  text-align: center;
  margin: 0;
  color: var(--clr-light-gray);
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -3px;
}

.special-heading + p {
  font-size: 0.75rem;
  color: var(--clr-primary);
  margin: -20px 0 20px;
  text-align: center;
}
/* Components End */

/* Header Start */
header {
  padding: 1.25rem;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 75px;
}
.logo-wrapper img {
  max-width: 100%;
}

.burger-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
.burger-icon:hover span:nth-child(2) {
  width: 100%;
}

.burger-icon span {
  background-color: var(--clr-primary);
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}

.burger-icon span:nth-child(2) {
  width: 65%;
  transition: 350ms;
}

.main-nav_links {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background-color: var(--clr-primary);
  list-style: none;
  position: fixed;
  right: 0;
  z-index: 1000;
  min-width: 200px;
  top: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 350ms;
}

.main-nav_links svg {
  color: var(--clr-white);
  margin-bottom: 1rem;
  align-self: flex-start;
  cursor: pointer;
}

.links-menu {
  font-size: 1.2em;
}
.links-social {
  font-size: 0.8em;
}

.main-nav_links p {
  color: var(--clr-gray);
  margin-top: 1.5rem;
}

.main-nav_links .my-web {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  transition: 250ms;
}

.main-nav_links .my-web:hover,
.main-nav_links .my-web:focus {
  color: var(--clr-light-gray);
}

.main-nav_links li a {
  text-decoration: none;
  color: var(--clr-white);
  display: block;
  padding: 0.5rem;
  transition: 250ms;
}

.main-nav_links li a:hover {
  color: var(--clr-secondary);
  transform: translateX(10px);
}

.main-nav_links p:last-child {
  margin-top: auto;
}
/* Header End */
/* To Top */
.to-top {
  position: fixed;
  right: -3rem;
  bottom: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--clr-secondary);
  font-size: 1.5rem;
  transition: 350ms;
  opacity: 0.8;
}

.to-top:hover {
  opacity: 1;
}

.to-top.show {
  right: 1rem;
}

/* To Top */
/* Landing Start */
.landing {
  position: relative;
  background-image: url(../img/landing.png);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 70px);
  text-align: center;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  color: var(--clr-secondary);
  margin: 0;
}
.intro-text p {
  max-width: 35ch;
  margin-left: auto;
  margin-right: auto;
}

/* Landing End */

/* Features Start */
.features {
  /* background-color: var(--clr-light-gray); */
  text-align: center;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.feat {
  background-color: var(--clr-white);
  border-radius: 0.8rem;
  padding: 1.25rem;
  box-shadow: -3px 5px 8px 2px rgba(44, 71, 85, 0.15);
}

.feat i,
.feat svg {
  color: var(--clr-secondary);
}

.feat h3 {
  color: var(--clr-primary);
  font-weight: 800;
}

.feat p {
  color: var(--clr-gray);
  font-size: 1rem;
  line-height: 1.8;
}
/* Features End */
/* Services Start */

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service {
  max-width: 350px;
  margin-bottom: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}

.service i,
.service svg {
  color: var(--clr-secondary);
}

.service .text h3 {
  margin: 0;
  font-weight: 800;
}

.service .text p {
  color: var(--clr-gray);
}

.services-img {
  display: none;
}
/* Services End */

/* Portfolio Start */
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.portfolio-content .card {
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: -3px 5px 8px 2px rgb(44 71 85 / 15%);
  overflow: hidden;
  cursor: pointer;
}

.card-img {
  position: relative;
  overflow: hidden;
}
.card-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--clr-secondary);
  opacity: 0.3;
  /* background-color: #2c4755be; */
  left: -100%;
  bottom: 0;
  transition: 500ms ease-out;
}

.portfolio-content .card:hover .card-img::before {
  left: 0;
}

.portfolio-content .card-info {
  padding: 1.25rem;
}

.portfolio-content .card-info h3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}
.portfolio-content .card-info p {
  margin-bottom: 0;
  font-size: 0.94rem;
  line-height: 1.5;
  color: var(--clr-gray);
}
/* Portfolio End */

/* About Start */
.about-content {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.about-img {
  display: none;
}

.about-text h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.7;
}

.about-text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--clr-secondary);
}

.about-text p {
  font-size: 0.94rem;
  color: var(--clr-gray);
  line-height: 1.6;
}

/* About End */
/* contact Start */
.contact-content {
  text-align: center;
  margin-top: 5rem;
}
.contact-content h2 {
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-primary);
}
.contact-content a {
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-secondary);
}

.contact-content a:hover {
  text-decoration: underline;
}

.contact-content .social {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary);
}

.contact-content .social-links {
  list-style: none;
  padding: 0;
}
.contact-content .social-links li {
  display: inline-block;
  color: var(--clr-primary);
}

.contact-content .social-links li:not(:first-child) {
  margin-left: 1rem;
}

.contact-content .social-links svg,
.contact-content .social-links i {
  color: var(--clr-primary);
  font-size: 3rem;
  transition: 250ms ease-in;
}

.contact-content .social-links svg:hover,
.contact-content .social-links i:hover {
  color: var(--clr-secondary);
}
/* contact End */

footer {
  padding: 2.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
footer h3 {
  margin: 0;
  padding: 0;
}

footer h3 a {
  color: var(--clr-secondary);
  text-decoration: none;
}

/* Responsive */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .main-nav_links {
    width: 550px;
  }
  .special-heading {
    font-size: 8rem;
  }

  .special-heading + p {
    font-size: 1.5rem;
    margin: -40px 0 20px;
  }
  .service {
    max-width: 100%;
    display: flex;
    text-align: start;
    flex-direction: row;
    gap: 3rem;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .intro-text h1 {
    font-size: 3.5rem;
  }
  .intro-text p {
    font-size: 1.25rem;
  }

  .contact-content h2 {
    font-size: 3.5rem;
  }

  .contact-content a {
    font-size: 3.125rem;
  }

  .contact-content .social {
    flex-direction: row;
    gap: 2rem;
  }
  .contact-content .social p {
    font-size: 1.2rem;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .services-img {
    display: block;
    width: 275px;
    text-align: center;
    position: relative;
    z-index: 0;
  }

  .services-img::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 130%;
    background-color: #2c4755;
    top: -15%;
    right: -35px;
    z-index: -1;
  }

  .about-content {
    text-align: start;
  }
  .about-content .about-text {
    flex-basis: calc(100% - 550px);
  }
  .about-content .about-img {
    display: block;
    z-index: 0;
    position: relative;
    width: 250px;
    height: 375px;
    box-shadow: -3px 5px 8px 2px rgb(44 71 85 / 15%);
  }
  .about-content .about-img::before,
  .about-content .about-img::after {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: var(--clr-secondary);
  }

  .about-content .about-img::before {
    width: 80px;
    height: 300px;
    right: -30px;
    top: -30px;
  }

  .about-content .about-img::after {
    width: 300px;
    height: 80px;
    bottom: 35px;
    right: -170px;
  }
}
